@import "../src/Assets/styles/game.css"; 
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
a{
	text-decoration: none;
	cursor: pointer;
}
.container{
	width: 90%;
	margin: 0 auto;
}
button{
	cursor: pointer;
	border: none;
}

